# --- Core LangChain and Integrations ---
langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-groq
langchain-google-genai
langchain-chroma

# --- Vector DB Support ---
chromadb==0.4.24
duckdb                         # Avoids SQLite dependency issues
faiss-cpu

# --- Embeddings ---
sentence_transformers
huggingface_hub

# --- PDF and Web Loaders ---
pypdf
pymupdf
arxiv
wikipedia
bs4
duckduckgo_search==5.3.1b1
youtube_transcript_api
unstructured
pytube

# --- Streamlit and APIs ---
streamlit
fastapi
sse_starlette
langserve

# --- Util Libraries ---
validators==0.28.1
numexpr
pandas
IProgress
ipykernel
python-dotenv
mysql-connector-python
SQLAlchemy
